@import "tailwindcss";
@import "bootstrap";
@plugin "daisyui";


a {
  @apply no-underline text-black;
}

/* for modal, this help to fix the issue */
dialog[open] {
  display: block !important;
}

/* font */
 @font-face {
      font-family: 'Impact';
      src: url('./fonts/Impact.ttf') format('truetype'); /* Adjust path if needed */
      font-style: normal;
      font-weight: normal; /* Or specify the weight */
      font-display: swap; /* For optimal loading */
    }