@import "tailwindcss";
@import "bootstrap";
@plugin "daisyui";



a {
  @apply no-underline text-black;
}

/* for modal, this help to fix the issue */
dialog[open] {
  display: block !important;
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/public/fonts/static/BricolageGrotesque_SemiCondensed-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}
